/node_modules

yarn-error.log

.envrc

/.vscode

/lib/enkaManager/ui/*

/lib/buildCard/image/cache/*

!/lib/buildCard/image/cache/sample-cache.png

!/lib/enkaManager/ui/UI_Gacha_AvatarImg_PlayerBoy.png

!/lib/enkaManager/ui/UI_Gacha_AvatarImg_PlayerGirl.png

package-lock.json

buildCard.log